server:
  port: 5000
spring:
  application:
    name: management-system-users
  config:
    import: configserver:http://localhost:8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always