server:
  port: 8761
spring:
  application:
    name: management-system-discovery-server
  config:
    import: configserver:http://localhost:8888
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
management:
  endpoints:
    web:
      exposure:
        include: health,info