server:
  port: 5000

spring:
  application:
    name: management-system-api-gateway
  config:
    import: configserver:http://localhost:8888
  main:
    banner-mode: off
  cloud:
    gateway:
#      discovery:
#        locator:
#          enabled: true
      routes:
        - id: management-system-users-id
          uri: ${USERS_SERVICE_URL:lb://management-system-users}
          predicates:
            - Path=/info/**
          filters:
            - RewritePath=/info/(?<segment>.*), /info/${segment}
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoint:
    gateway:
      access: read_only
  endpoints:
    web:
      exposure:
        include: health,info,gateway